

/* ==== Common Fix starts here==== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ==== Common Fix ends here==== */



body{
    font-family: 'Inter', sans-serif;

}
    img
{
    width: 100%;
    height: 100%;

}


.firstsection{
    height: 460px;
    /* border: 3px solid black; */
    display: flex;

    
}
/* ===== First section starts here===== */

.firstsection-leftdiv{
    padding: 20px;
    width: 50%;
    height: 100%;
    background: var( --gray-color);
}

.firstsection-rightdiv{
    width: 50%;
    height: 100%;
    background: var(--linear-gradient), url("./images/image1.jpg");
    background-size: cover;
    background-position: bottom left;
}
span {
    color: var(--main-color);
}
.logotext{
    margin-bottom: 20px;
}
.heading{
    margin-bottom: 20px;
}


.line {
    height: 16px;
    background: var(--main-color);
    width: 224px;
}

.firstsection-leftdiv p{
    margin-bottom: 25px;
}

.link-holder{
    /* border: 3px solid black; */
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

/* ===== Second section starts here===== */
.secondsection {
    /* border: 3px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    flex-wrap: wrap;
}

.secondsectionleftdiv {
    background: var(--gray-color);
    height: 400px;
    width: 310px;
    /* border: 3px solid tomato; */
    padding: 40px 25px;

}
.secondsectionleftdiv p {
    margin-bottom: 25px;
}
.secondsectionleftdiv h4{
    margin-bottom: 20px; 
    text-align: center;
}

.secondsectionrightdiv {
    height: 460px;
    width: 340px;
    /* border: 3px solid purple; */
    margin-left: 20px;
}
/* ===== Second section ends here===== */


/* ===== Third section starts here===== */
.thirdsection{ 
    /* border: 3px solid tomato; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: var(--gray-color);
}

.thirdsection-leftdiv,
.thirdsection-rightdiv {
    height: 460px;
    width: 340px;
}
.thirdsection-leftdiv{
    /* border: 3px solid black; */
    background: url(./images/image3.jpg);
    background-size: cover;
}
.thirdsection-rightdiv {
    /* border: solid purple; */
    background-color: var(--main-color);
    padding: 40px 25px;
}
.thirdsection-rightdiv p {
    margin-bottom: 25px;
}
/* ===== Third section ends here===== */


footer {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    color: var(--white-color);

}

.footericons-container {
    /* border: 3px solid black; */
    font-size: 22px;

}
.footer-icon {
    margin: 0 5px;
} 

    a{
        color: var(--white-color);
        text-decoration: none;
    }
        /* safety measures starts here */

        .firstsection,.secondsection,.thirdsection, footer{
            max-width: 1500px;
            margin: 0 auto;
        }
        /* safety measures ends here */